.main-user-page {
  width: max-content;
  height: fit-content;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
}

.accounts-container {
  width: 1330px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border: 2px solid black;
}

.profile-button {
  position: relative;
  align-items: flex-start;
  left: 0;
  border: 0;
  font-size: 15px;
  height: 50px;
  width: 150px;
  border: 2px solid black;
  bottom: 0;
}

.accounts-header {
  border: 2px solid black;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.account-username {
  display: block;
  font-size: 50px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}



.logout-button {
border: 2px solid black;
bottom: 0;
}