.navbar-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* border: 1px solid black; */
  background-color: #f9f9f2;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.accounts-button {
  border-radius: 4px;
  background: #f9f9f2;
  padding: 10px 22px;
  color:black;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.title-middle >*, .title-middle {
  text-decoration: inherit;
  color: black;
  margin: auto;
}

.links-container {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 220px;
  font-size: 12px;
}

.links-container >* {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.title{
  font-weight: 400;
  font-style: bolder;
  margin-left: -20px;
}